:root {

  --green: #5fbe58;
  --middle_green: #499d42;
  --dark_green: #305F2C;
  --black: #292929;
  --grey: #515151;
  --light-grey: #6d6d6d;
  --red: #e25757;

  --font-text: 20px;
  --font-title: 35px;
  --font-link: 26px;
  --font-icon: 30px;

}